<%= form_with(model: @book, local: true) do |f| %>
    <%= render "shared/error_messages", model: @book %>
    <div class="form-group mb-3">
      <%= f.label :title, '書籍名', class: 'form-label background-color' %>
      <%= f.text_field :title, class: 'form-control', readonly: action==='show' %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :author, '著者', class: 'form-label background-color' %>
      <%= f.text_field :author, class: 'form-control', readonly: action==='show' %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :amount, '金額', class: 'form-label background-color' %>
      <%= f.number_field :amount, class: 'form-control', readonly: action==='show' %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :is_library, '図書館フラグ', class: 'form-label background-color' %>
      <%= f.text_field :is_library, class: 'form-control', readonly: action==='show' %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :bought_at, '購入日時', class: 'form-label background-color' %>
      <%= f.datetime_field :bought_at, class: 'form-control', readonly: action==='show' %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :started_at, '開始日時', class: 'form-label background-color' %>
      <%= f.datetime_field :started_at, class: 'form-control', readonly: action==='show' %>
    </div>
  
    <div class="form-group mb-3">
      <%= f.label :ended_at, '終了日時', class: 'form-label background-color' %>
      <%= f.datetime_field :ended_at, class: 'form-control', readonly: action==='show' %>
    </div>
  
    <div class="form-group mb-3">
      <% if action==='show' %>
        <%= link_to '編集', edit_book_path(@book.id), class: 'btn btn-primary' %>
      <% else %>
        <%= f.submit "#{ @book.new_record? ? '新規作成' : '更新' }", class: 'mt-3 btn btn-primary' %>
      <% end %>
    </div>
  <% end %>
  